extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Loc8r was created to help people to find a suitable place for work while they are out of office or home
        | <br/><br/>
        | And that’s the last one of the four pages we need for the static site. You can now push this up to Heroku and have people visit the URL and click around. If you’ve forgotten how to do this, the following code snippet shows the terminal commands you need, assuming you’ve already set up Heroku.
